@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;

}

.full-boxer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comment-box:hover{
    margin-top: 12px;
}

.comment-box{
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
}

.Profile{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-color: aqua;
    border-width: 12px;
}

.Name{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Name strong{
    color: black;
    font-size: 18px;
}

.Name span{
    color: gray;
    margin-top: 2px;
}

.comment p{
    color: black;
}

.C_rating {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	grid-gap: .3rem;
	font-size: 1.2rem;
	color: var(--yellow);
    
    float: right;
    width: 170px;

}

------------------------------------------------------------------------------------


body {
	background: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}



.wrapper {
	background: var(--white);
	padding: 2rem;
	max-width: 576px;
	width: 100%;
	border-radius: .75rem;
	box-shadow: var(--shadow);
    box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
	text-align: center;
    margin: auto;


}
.wrapper h3 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 2rem;
}
.rating .star {
	cursor: pointer;
}
.rating .star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

:root {
	--yellow: #FFBD13;
	--blue: #4383FF;
	--blue-d-1: #3278FF;
	--light: #F5F5F5;
	--grey: #AAA;
	--white: #FFF;
	--shadow: 8px 8px 30px rgba(0,0,0,.05);
}

.rating .star:hover {
	transform: scale(1.1);
}
textarea {
	width: 100%;
	background: var(--light);
	padding: 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	resize: none;
	margin-bottom: .5rem;
}
.btn-group {
	display: flex;
	grid-gap: .5rem;
	align-items: center;
}
.btn-group .btn {
	padding: .75rem 1rem;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 500;
}
.btn-group .btn.submit {
	background: var(--blue);
	color: var(--white);
}
.btn-group .btn.submit:hover {
	background: var(--blue-d-1);
}
.btn-group .btn.cancel {
	background: var(--white);
	color: var(--blue);
}
.btn-group .btn.cancel:hover {
	background: var(--light);
}

--------------------------------------------------------------------------



#heading {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
  
  #R_heading {
    font-size: medium;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maindiv{
	margin-top: 40px;
    display: flex;
	align-items: center;
	flex-direction: row;
	justify-content:center;
	
}
  
  
  
  
  
  